In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Link do data base: https://www.kaggle.com/datasets/omkargowda/suicide-rates-overview-1985-to-2021

In [4]:
# Importando os dados
base_dados = pd.read_csv('master.csv')

base_dados.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21.0,312900,6.71,Albania1987,NaN,"2,15,66,24,900",796.0,Generation X
1,Albania,1987,male,35-54 years,16.0,308000,5.19,Albania1987,NaN,"2,15,66,24,900",796.0,Silent
2,Albania,1987,female,15-24 years,14.0,289700,4.83,Albania1987,NaN,"2,15,66,24,900",796.0,Generation X
3,Albania,1987,male,75+ years,1.0,21800,4.59,Albania1987,NaN,"2,15,66,24,900",796.0,G.I. Generation
4,Albania,1987,male,25-34 years,9.0,274300,3.28,Albania1987,NaN,"2,15,66,24,900",796.0,Boomers

In [11]:
base_dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31756 entries, 0 to 31755
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             31756 non-null  object
 1   year                31756 non-null  int64
 2   sex                 31756 non-null  object
 3   age                 31756 non-null  object
 4   suicides_no         30556 non-null  float64
 5   population          31756 non-null  int64
 6   suicides/100k pop   31756 non-null  float64
 7   country-year        31756 non-null  object
 8   HDI for year        12300 non-null  float64
 9    gdp_for_year ($)   31756 non-null  object
 10  gdp_per_capita ($)  31756 non-null  float64
 11  generation          31756 non-null  object
dtypes: float64(4), int64(2), object(6)
memory usage: 2.9+ MB

In [14]:
# Verificando se existe campos nulos 
base_dados.isnull().sum()

country               0
year                  0
sex                   0
age                   0
suicides_no           0
population            0
suicides/100k pop     0
country-year          0
HDI for year          0
 gdp_for_year ($)     0
gdp_per_capita ($)    0
generation            0
dtype: int64

In [13]:
# Excluindo campos nulos
base_dados.dropna(inplace=True)

In [15]:
# Verificandod descrição da base de dados
base_dados.describe()

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp_per_capita ($)
count,11100.000000,11100.000000,1.110000e+04,11100.000000,11100.000000,11100.000000
mean,2008.492973,200.138649,1.050981e+07,10.435245,0.791232,21635.349041
std,9.426392,619.021474,5.495243e+07,25.303042,0.095652,22549.820318
min,1985.000000,0.000000,8.750000e+02,0.000000,0.386358,313.000000
25%,2005.000000,3.000000,2.278942e+05,0.340000,0.723000,5288.000000
50%,2011.000000,28.000000,7.196980e+05,2.790000,0.795893,13170.000000
75%,2014.000000,131.000000,4.497005e+06,11.580000,0.873000,30896.000000
max,2020.000000,11767.000000,1.396215e+09,515.092734,0.972758,126352.000000